.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.625rem;
  border-radius: 4px;
  background: var(--gray-100);
  color: var(--gray-700);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
